$color-dark-content: #2B2B2B;

$secondary-bar: #292929;
$secondary-container-color: #323232;
$color-border: black;
$main-text-color: #c2c2c2;
$side-toggles: black;
$app-name: #c2c2c2;
$inner-main-content: #191919;
$active-menu-color: #1f1f1f;
$input-background: #1E1E1E;
$drawer-color: #292929;
$light-accent-color: #656565;
$main-container-color: #321771;

$space-between-icon-text: 26px;
$icon-width: 37px;
$icon-left-margin: 10px;
$menu-font: "Poppins";
$menu-font-family: 'Poppins', sans-serif;
$menu-font-size: 18px;
$menu-line-height: 29px;
$menu-text-transform: uppercase;
$content-menu-width: 300px;
$left-nav-font-color: #ffffff;

$active-menu-entry-bg-color: #f79f2c;
$active-menu-entry-txt: #210a58;
$menu-li-padding: 9px 12px;