// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "PT Sans", sans-serif;
}
// @import "./src/styles/fonts";
@import "./fonts/css/lsfontset.css";

// $lsfontset-woff-font-path: "./fonts/lsfontset.woff";
// $lsfontset-woff2-font-path: "./fonts/lsfontset.woff2";
// $font-family-brand: 'lsfontset';

// // @import "./src/styles/fonts";
// @font-face {
//     font-family: $font-family-brand; //'archisticobold';
//     src:url($lsfontset-woff2-font-path) format('woff2'),
//         url($lsfontset-woff-font-path) format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
