$color-dark-content: #2B2B2B;

$secondary-bar: #292929;
$secondary-container-color: #323232;
$color-border: black;
$main-text-color: #c2c2c2;
$side-toggles: black;
$app-name: #c2c2c2;
$inner-main-content: #191919;
$active-menu-color: #1f1f1f;
$input-background: #1E1E1E;
$drawer-color: #292929;
$light-accent-color: #656565;
$main-container-color: #321771;

$space-between-icon-text: 26px;
$icon-width: 21px;
$icon-left-margin: 10px;
$menu-font: "Poppins";
$menu-font-family: 'Poppins', sans-serif;
$menu-font-size: 16px;
$menu-line-height: 2.5;
$menu-text-transform: inherit;
$content-menu-width: 300px;
$left-nav-font-color: #ffffff;

$active-menu-entry-bg-color: #f79f2c;
$active-menu-entry-txt: #210a58;
$menu-li-padding: 9px 12px;


$menu-li-padding: 0px 12px;
$menu-section-border-botom: 2px solid #542bb3;
$color-dark-content: #2B2B2B;
$heading-bg-color: #210A58;
$heading-text-color: white;
$heading-font-size: 18px;
$heading-line-height: 2;
$heading-img-width: 30px;