<div class="main-content">
    <div [hidden]="hideContent">Main Content Area</div>
</div>
<div class="drawer-container">
    <div class="left-inner">
        <div class="local-footer">
            <div class="tree active">
                <div class="drawer-button">Tree Structure</div>
            </div>
            <div class="history">
                <div class="drawer-button"> History</div>
            </div>
        </div>
        <div class="drawer">
        </div>
    </div>
    <div class="right-inner">
    </div>
</div>